

<footer>
    
    <div class="container">
      <div class="row">
        <div  class="col">
          <img src="assets/logo.svg" width="142">
          <h3 id="data">{{now | date: 'dd/MM/yyyy'}}</h3>
        </div>
        <div class="col">
          <h4>company</h4>
          <ul class="navbar-nav">
            <li><a href="">Sobre</a></li>
            <li><a href="">Empregos</a></li>
            <li><a href="">Imprensa</a></li>
            <li><a href="">Novidades</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>comunidades</h4>
          <ul class="navbar-nav">
            <li><a href="">Artistas</a></li>
            <li><a href="">Desenvolvedores</a></li>
            <li><a href="">Marcas</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>links uteis</h4>
          <ul class="navbar-nav">
            <li><a href="">Ajuda</a></li>
            <li><a href="">Presentes</a></li>
            <li><a href="">Player da web</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>

  

 