<div id="fundo">
  <div id="about"class="container">
      <div class="row">
        <div class="col">
          <img id="about_img"src="assets/imagem-about.jpeg" alt="" width="600" height="400">
        </div>
        
        <div id="about_texto" class="col" >
          <p id="about_paragrafo">
            O Spotify é um serviço de streaming de música digital, podcast e vídeo que dá acesso a milhões de músicas e outros conteúdos de artistas de todo o mundo.


            <br>Funções básicas, como tocar música, são totalmente gratuitas, mas você também pode optar por atualizar para o Spotify Premium. De qualquer maneira, você pode:
            Escolha o que deseja ouvir com Navegar e Pesquisar.
            Obtenha recomendações de recursos personalizados, como Discover Weekly, Release Radar e Daily Mix.
            Crie coleções de música.
            Veja o que amigos, artistas e celebridades ouvem.
            Crie suas próprias estações de rádio.</p>
        </div>
    
      </div>
    
    </div>

</div>
