<div id="fundo" class="container-flex">
    <div id="conteudo" class="row">
        <div class="col">
            <img src="{{playlist.foto}}" width="200em" height="200em">
        </div>
        <div id="playlist" class="col">
            <div class=container *ngFor="let musica of musicasPlaylist;index as i" id="music">
                <div class="row no-gutters" id="nome">
                    <div class="col-2">
                        <button (click)=audioPlayer($event.target.id) type="button" class="play_button"
                            id="{{musica.id}}"
                            [ngStyle]="{'backgroundImage': musicaatual == [musica.id] ? 'url(./assets/stop_button.png)' : 'url(./assets/play_button.png)'}"></button>
                    </div>
                    <div class="col-6" id="nomedamusica">
                        {{musica.nome}}
                    </div>
                    <div class="col-2" id="duracao">
                        {{musica.duracao}}
                    </div>
                    <div class="col-2" id="add">

                        <button (click) = "removeMusic([musica.id])" class="btn btn-secondary ">
                            -
                        </button>

                    </div>
                </div>
                <div class="row no-gutters" id="albumdiv">
                    <div class="col-4 offset-md-2" id="artista">
                        {{musica.cantor}}
                    </div>
                    <div class="col-4" id="album">
                        {{musica.album}}
                    </div>
                </div>
            </div>
        </div>
        <audio id="audio"></audio>
    </div>

</div>