<form [formGroup]="formulario" (ngSubmit)="inserir()">
    <div id="img">
      <img  src="../assets/logo.png" width="142">
    </div>
  
     <div id="sub">
       Editar seus dados
     </div>

    <div id="blocoE">
      <input class="form-control" type="text" id="email-usuario" formControlName="email" placeholder="E-mail">
    </div>
  
    <div id="blocoCE">
      <input class="form-control" type="text" id="email-usuarioC" formControlName="emailC" placeholder="Confirme e-mail">
    </div>
  
    <div id="blocoS">
      <input class="form-control" type="text" id="senha" formControlName="senha" placeholder="Senha">
    </div>
  
    <div id="blocoCSC">
      <input class="form-control" type="text" id="chamado" formControlName="nome" placeholder="Como devemos chamar você?">
    </div>
  
    <div id="date">
      <input type="date" formControlName="nascimento" formControlName="nascimento" placeholder="Data de nascimento">
    </div>
  
    <span id="space">
      <input type="radio" id="male" name="gender" formControlName="gender" value="male">
      <label style="margin-left: 1%;" for="male">Masculino</label>
    </span>

    <span id="space">
      <input type="radio" id="female" name="gender" formControlName="gender" value="female">
      <label style="margin-left: 1%;" for="female">Feminino</label>
    </span>

    <span>
      <input type="radio" id="other" name="gender" formControlName="gender" value="other">
      <label style="margin-left: 1%;" for="other">Não Binário</label>
    </span>
  
    <div>
      <button (click)="inserir()"
       style="margin: 2%;" class= "btn btn-success btn-lg rounded-pill" type="button" data-toggle="modal" data-target="#exampleModal">Inscrever-se</button>
    </div>
  
  </form>

