<header>
  <!-- inicio Cabecalho -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
    
    <div class="container">

      <a href="index.html" class="navbar-brand">
        <img src="assets/logo.svg" width="142">
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <i class="fas fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/descriçao" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/faq" class="nav-link">Ajuda</a>
          </li>
          <li class="nav-item">
            <a routerLink="/lista-playlist" class="nav-link">Playlists</a>
          </li>

          <li class="nav-item divisor"></li>

          <li class="nav-item">
            <a routerLink="/formulario" class="nav-link">Inscrever-se</a>
          </li>
          <li class="nav-item">             <a routerLink="/editar-user" class="nav-link">Editar Usuario</a>           </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Logout</a>
          </li>
          <li>
            <input [formControl]="searchWord" (input)="search()" (click)="openSearch()" id="musica_search"
              class="form-control mr-sm-4" type="search" placeholder="Busque artistas ou músicas" aria-label="Busque artistas ou músicas">
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
<!--/fim Cabecalho -->