#page{
    padding-top: 7em;
    padding-left:2em ;
    padding-right: 2em;
    background-color: #121212;
    }

#nomedamusica{
    font-size: 15px;   
    color: white;
}

#duracao{
  
    font-size: small; 
    color: white;
}
#artista{

    font-size: small;
    color: white;
}
#album{
    font-size: small; 
    color: white;
}


.play_button{
    background: none;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    border: none;
    outline:none;
    background-position: center;
}


#musicas{
    width: 30em;
    margin-bottom:15em;
    
}

#music{
    padding: 1em;
    margin: 0em;
    width: 30em;
}

#music:hover{
    background-color: #515050;
    padding: 1em;
 
}

#add{
    display: flex;
    justify-content: flex-end;
}
#addbutton{
    width: auto;
    border-style: solid;
    border-color: aqua;
    display: flex;
    justify-content: flex-end;
}