
<div class="titulo">
    <h1>
        FAQ
    </h1>
    <p>
        Aqui iremos responder algumas de suas duvidas!
    </p>
</div>

<div id="faq"class="marg">
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0" id="cor">
          <button id="teste"class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Como posso recuperar minhas playlists perdidas?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Você pode fazer login no site principal e usar o recurso de recuperação de playlist!
            <br>
            Basta clicar em 'Restaurar' ao lado das playlists que deseja restaurar na conta. Certifique-se de fazer logout e depois login novamente para vê-las novamente em suas playlists.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Existe um limite para salvar no Spotify?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            Com ​​a introdução da biblioteca ilimitada, removemos o limite de itens salvos em sua biblioteca, tornando possível salvar / curtir quantas músicas e álbuns você quiser.
            <br>
            Existe, no entanto, um limite de 10.000 músicas que podem ser adicionadas a uma playlist.
            <br>
            E você também deve considerar que o desempenho do aplicativo pode ser afetado, se você tiver um grande número de playlists.  Portanto, recomendamos manter o número abaixo de 2.000.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            O que é Premium Family?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Premium Family é uma assinatura com desconto para até 6 membros da família que moram juntos.
            <br>
             O plano de assinatura inclui uma conta Spotify separada para cada usuário, para que todos mantenham suas próprias músicas e detalhes de login.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Recebeu um e-mail suspeito?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Se você não tiver certeza se pode confiar em um e-mail que diz ter sido enviado pelo Spotify, 
            ou se o endereço de e-mail do remetente não terminar em “@spotify.com”, não clique em nenhum link nem forneça informações suas.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Como posso desativar o "Behind the Lyrics" em um dispositivo PlayStation (PS4)?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Você pode ocultar o "Behind the Lyrics" facilmente em qualquer dispositivo que estiver usando no momento, tocando na barra Reproduzindo Agora na parte inferior da tela.  
            <br>
            Quando a arte da faixa que você está ouvindo no momento aparecer, basta deslizar a visualização da letra para mudar para a visualização da capa.
            <br>
             Se desejar desativar a exibição de Behind the Lyrics de forma permanente, você também pode fazer isso acessando Configurações> Reprodução>e desabilitar Behind the Lyrics.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Estou estudando no Exterior. Posso aproveitar o Premium para Universitários? 
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Se estiver estudando em uma universidade credenciada, você pode aproveitar o Premium para Universitários mesmo no exterior.
            <br>
            No entanto, o país onde a sua universidade fica deve ser o mesmo que consta nas configurações de país da sua conta. Além disso, a sua forma de pagamento também deve ter sido emitida nesse país. 
          </div>
        </div>
      </div>
  </div>
</div>
